/* General setup */
@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ambleregular';
    src: url('fonts1/amble-regular-webfont.woff2') format('woff2'),
         url('fonts1/amble-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
  }
  html
  {
    font-size: 10px;
  }
  body {
    font-family: ambleregular;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
   section h2+p
  {
    text-indent: 20px;
  }
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
    display: flex;
    gap: 0.625%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  h1,h2{
    font-family: alex_brushregular;
    letter-spacing: 2px;
  }
  h1
  {
    font-size: 5rem;
    text-align: center;
  }
  h2
  {
    font-size: 3rem;
  }

  a:link{
    color: #a66;
  }
  a:visited{
    color: #a66;
  }
  a:focus{
    color: #a66;
    text-decoration: none;
    outline: transparent;
  }
  a:hover{
    color: #a66;
    text-decoration: none;
  }
  a:active
  {
    color: #a66;
    text-decoration: none;
    background-color: rgb(233, 225, 225);
  }
  a[href^="http"]
  {
    padding-right: 20px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 10px 10px;
  }
  ul{
    line-height: 2;
    list-style-type: square;
  }
 nav a {
    flex: 1;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  nav a:link,
  nav a:visited,
  nav a:focus {
    background: palegoldenrod;
    color: black;
  }
  
  nav a:hover {
    background: orange;
  }
  
  nav a:active {
    background: darkred;
    color: white;
  }
  ol{
    line-height: 2;
    list-style-type: lower-alpha;
  }